body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #f5f5f5;
}

.certificate {
    background-image: url("../images/testchef-certificate/certificate-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 50px;
    position: relative;
    text-align: center;
    border: 2px solid #ccc;
}

.header {
    margin-bottom: 0px;
}

.logo {
    width: 150px;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.institutes-logos {
    width: 120px;
    size: contain;
    display: flex;
    margin: 0 auto 5px;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.content {
    line-height: 1;
    font-size: 14px;
}

.contents {
    margin-top: 10px;
}

.signature-area {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.signature-line {
    width: 150px;
    border-bottom: 1px solid #000;
    margin-top: 35px;
    position: relative;
}

.signature-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100%;
    font-size: 14px;
}

.date {
    margin-top: 35px;
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .certificate {
        background-position: center;
        background-size: contain;
        width: 100vw;
        text-align: center;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    .certificate,
    .certificate * {
        visibility: visible;
    }

    .certificate {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .contents {
        margin-top: 20px;
    }

    .signature-area {
        margin-top: 50px;
    }
    @page {
        size: A4 landscape;
        margin: 20mm;
    }
}
