:root {
    --lighter-primary-color: #06b85f;
    --primary-color: #015229;
    --darker-primary-color: #00351a;
    --secondary-color: #e5212b;
    --tertiary-color: #e19025;
    --light-color: #ffffff;
    --dark-color: #1b1b1d;
}

body {
    font-family: "Poppins", sans-serif !important;
}

.light-color-custom {
    color: var(--light-color) !important;
}

.alert {
    padding: 5px 10px;
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item i {
    font-size: 1.1rem;
}

.menu-icon i {
    font-size: 1.25rem;
    color: white !important;
}

.app-sidebar-wrapper .menu .menu-item .menu-link .menu-title {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.app-sidebar-wrapper .menu .menu-item .menu-link .menu-title:hover {
    color: #009ef7 !important;
}

.menu-link.active .menu-icon i,
.menu-link.active .menu-title {
    color: #009ef7 !important;
}

table thead tr th {
    font-weight: bold !important;
    font-size: 1.1rem !important;
    letter-spacing: 0.5px;
}

.ml-2 {
    margin-left: 0.5rem !important;
}
.mr-2 {
    margin-right: 0.5rem !important;
}

.card-head {
    padding: 25px 0;
}

.form-group {
    margin-bottom: 25px;
    padding: 0 10px;
}

.btn-icon i {
    color: black !important;
}
.btn-icon:hover i {
    color: white !important;
}

.user-info-card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.user-info-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.user-info-item {
    padding: 10px 0;
    border-bottom: 1px solid #e9ecef;
}

.user-info-item:last-child {
    border-bottom: none;
}

.border {
    border: 1px solid #cecece !important;
}

.login-logo {
    width: 100px;
}

.login-card-custom {
    border: var(--primary-color) 3px solid !important;
    box-shadow: var(--primary-color) 0px 0px 15px 5px !important;
}

.indicator-label-custom {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.accredited-logo {
    width: 300px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 20px;
}

.red-dotted-border {
    border: 2px solid var(--lighter-primary-color);
}

.red-dotted-top-border {
    border-top: 2px solid var(--lighter-primary-color);
}

.color-field {
    width: 80px;
    height: 40px;
    padding: 4px;
    border: #cfcfcf 1px solid;
    cursor: pointer;
}

.color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px #a1a1a1 solid;
}

.rounded {
    border-radius: 25px;
    overflow: hidden;
}

.desktop-hidden {
    display: none !important;
}
/* -------------------Scroller------------------- */

#kt_app_body::-webkit-scrollbar-track,
.custom_scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    background-color: #1b1b1d;
}

#kt_app_body::-webkit-scrollbar,
.custom_scroller::-webkit-scrollbar {
    width: 12px;
    background-color: #1b1b1d;
}

#kt_app_body::-webkit-scrollbar-thumb,
.custom_scroller::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #009ef7;
}

/* -------------------Links & Buttons------------------- */

.link-footer {
    color: var(--lighter-primary-color) !important;
}

.link-footer:hover {
    color: var(--secondary-color) !important;
}

.link-footer-card {
    color: var(--primary-color) !important;
}

.link-footer-card:hover {
    color: var(--secondary-color) !important;
}

.btn-custom {
    color: white !important;
    background-color: var(--primary-color) !important;
}

.btn-custom:hover {
    color: white !important;
    background-color: var(--lighter-primary-color) !important;
}

.menu-item {
    padding: 10px 10px;
}

.nav-link-custom {
    color: var(--primary-color);
    font-size: large;
    font-weight: 600;
}

.nav-link-custom:hover {
    color: var(--secondary-color);
}

.nav-link-custom i {
    color: var(--primary-color);
}

.nav-link-custom:hover i {
    color: var(--secondary-color);
    transition: all 0.2s ease;
}

.institutes-link {
    transition: all 0.3s ease;
}

.institutes-link:hover {
    transform: scale(1.05);
}

.menu-item .submenu {
    display: none;
    position: fixed;
    top: 11%;
    background: var(--primary-color);
    border: var(--light-color) 2px solid;
    border-radius: 20px;
    min-width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    transition: all 0.3s ease;
    z-index: 1000;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu a {
    padding: 10px 15px;
    color: var(--light-color) !important;
    transition: all 0.3s ease;
}

.submenu a:hover {
    background: var(--light-color);
    color: var(--primary-color) !important;
}

.submenu a:hover:first-child {
    border-radius: 17px 17px 0 0;
}

.submenu a:hover:last-child {
    border-radius: 0 0 17px 17px;
}

/* -------------------Text------------------- */

.about-hero-text {
    font-family: "Poppins", sans-serif !important;
    color: var(--primary-color);
    font-size: 1.55rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

.hero-text {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--primary-color);
}

.hero-text-span {
    background: linear-gradient(
        to right,
        var(--primary-color) 20%,
        var(--secondary-color) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text-span-2 {
    font-family: "Noto Kufi Arabic", sans-serif;
}

.text-muted-custom {
    color: #7a7a7a !important;
}

.primary-color {
    color: var(--primary-color) !important;
}

.lighter-primary-color {
    color: var(--lighter-primary-color) !important;
}

.lighter-primary-color:hover {
    color: var(--secondary-color) !important;
}

.primary-color-curve {
    color: var(--darker-primary-color) !important;
}

.text-tertiary {
    color: var(--tertiary-color);
}

.text-shadow-dark {
    text-shadow: 1px 1px 2px var(--dark-color);
}

.text-shadow-light {
    text-shadow: 1px 1px 2px var(--light-color);
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.fs-paragraph {
    font-size: medium;
}

/* -------------------Images------------------- */

.backup-img {
    width: auto;
    height: 300px;
}

.groups {
    max-height: 300px;
    overflow-y: auto;
}

.groups-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.institutes-img {
    width: 50%;
    height: auto;
}

.institutes-description-image {
    width: 80%;
    height: auto;
    border-radius: 15px;
}

/* -------------------Backgrounds------------------- */

.landing-hero {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
        url("../images/home/home-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-hero {
    background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 20%,
            rgba(255, 255, 255, 0.2)
        ),
        url("../images/about/about-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.institutes-hero {
    background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 35%,
            rgba(255, 255, 255, 0.2)
        ),
        url("../images/institutes/institutes-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.institutes-individual-hero {
    background: linear-gradient(
            -90deg,
            rgba(225, 144, 37, 0.6),
            rgba(255, 255, 255, 0.4)
        ),
        url("../images/institutes/institutes-individual-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plate-bg {
    background-image: url("../images/plate-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.login-bg {
    background-image: url("../images/login-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.white-bg {
    background-color: var(--light-color);
}

.achievements-bg {
    background-color: var(--darker-primary-color) !important;
    background-image: url("../images/achievements-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.primary-color-bg {
    background-color: var(--darker-primary-color) !important;
}

/* -------------------Media Queries------------------- */

@media only screen and (max-width: 600px) {
    .backup-img {
        height: 150px;
    }

    .calculator {
        width: 100%;
    }

    .login-logo {
        width: 50px !important;
    }

    .hero-text-span {
        background: var(--primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .m-text-center {
        text-align: center !important;
    }

    .landing-hero {
        background: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
            url("../images/home/home-banner.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .about-hero {
        background: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),
            url("../images/about/about-banner.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .m-px {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .m-px-2 {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }

    .m-hidden {
        display: none !important;
    }
    .mw-60 {
        width: 70% !important;
    }

    .mme-0 {
        margin-inline-end: 0px !important;
    }

    .mmx-1 {
        margin-left: 1.25rem !important;
        margin-right: 1.25rem !important;
    }
}

/* -----------------transitions---------------- */

.animate-on-scroll {
    opacity: 0;
    transition: all 0.5s ease-out;
}

/* Different animation classes */
.fade-in {
    opacity: 0;
}

.slide-up {
    opacity: 0;
    transform: translateY(100px);
}

.slide-left {
    opacity: 0;
    transform: translateX(-100px);
}

.slide-right {
    opacity: 0;
    transform: translateX(100px);
}

/* Active states when element is visible */
.fade-in.active {
    opacity: 1;
}

.slide-up.active {
    opacity: 1;
    transform: translateY(0);
}

.slide-left.active {
    opacity: 1;
    transform: translateX(0);
}

.slide-right.active {
    opacity: 1;
    transform: translateX(0);
}

/* Optional animation delay classes */
.delay-200 {
    transition-delay: 200ms;
}
.delay-400 {
    transition-delay: 400ms;
}
.delay-600 {
    transition-delay: 600ms;
}
